@import url("https://api.fontshare.com/v2/css?f[]=general-sans@500,301,300,401,400&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: General Sans, sans-serif;
    box-sizing: border-box;
  }
}

#root {
  box-sizing: border-box;
  @apply bg-base-800 text-base-800 min-h-screen -z-10;
}

h1 {
  @apply text-2xl font-bold my-4;
}

h2 {
  @apply text-xl;
}
span {
  @apply flex gap-2;
}
input {
  @apply p-2 rounded-md;
}

a {
  @apply cursor-pointer text-base-50 hover:text-base-100;
}

button {
  @apply p-2 rounded-md bg-pale-100 hover:bg-base-50;
}
.nav-title {
  @apply cursor-pointer relative text-white hover:text-base-50 font-semibold;
}

.nav-tooltip {
  @apply scale-0 flex-col gap-4 absolute origin-top-left bg-base-50 text-base-300  p-4 mt-2 whitespace-nowrap rounded-xl transition-all ease-linear;
}

.glass {
  @apply bg-clip-padding backdrop-filter backdrop-blur-3xl bg-opacity-60;
}

.hero-top {
  @apply relative;
}

.hero-top::after {
  content: "";
  @apply absolute h-full w-full top-0 left-0 rounded-2xl bg-base-800 opacity-40 -z-0;
}

.tag {
  @apply m-2 p-2 border text-salmon-100 text-sm border-salmon-200 bg-salmon-500 max-w-max rounded-xl;
}

.stats-box {
  @apply relative p-4 w-full h-32 lg:h-72 text-xl text-egg-100 flex flex-col items-center justify-center overflow-clip;
}

.stats-box > h1 {
  @apply lg:text-5xl;
}

.stats-icon {
  @apply h-48 w-48 lg:h-full lg:w-full absolute opacity-10 top-0 -left-5 lg:-left-20 lg:top-10;
}

.stats-header {
  @apply text-3xl;
}

.inner-page-hero {
  @apply relative p-8 mb-10 min-h-[60vh] bg-no-repeat bg-cover;
}

.inner-page-hero-text {
  @apply absolute my-10 text-4xl lg:text-8xl text-egg-100 bottom-0 drop-shadow-lg;
}
